doctype html
head
  meta(charset='utf-8')
  title mainProject
  link(rel='stylesheet', href='./public/css/style.css')
header
  div  #{appName}
  div  -( Sign-Up :: Login )-
nav
  | .: Menu : Menu : Menu : Menu :.
main
  | content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content
footer
  div
    | Copyright 2019-2020, #{appName} All Rights Reserved.
  div
    | Version: #{appVersion}&nbsp;&nbsp;
    a(href=appRepo) GitLab
