html {
  height: 100vh;
  background-color: #147968;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-height: 100%;
  margin: 0 auto;
  color: #ffffff;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  background-color: #06443A;
}

body > * {
  flex: 0 auto;
}

main {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}

body > header {
  display: flex;
  padding: 0 5px;
}
body > header > div { flex: 1 auto;   font-size: 26px;}
body > header > div:last-child {   font-size: 12px; text-align: right; }

body > footer {
  display: flex;
  border-top: 1px solid #000000;
  font-size: 12px;
  padding: 2px 5px;
}

body > footer > div {
  flex: 1 auto;
}
body > footer > div:last-child {
  text-align: right;
}

nav {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 100%;
  text-align: center;
}

a:link { color: #FFC300; }
a:active { color: #FFC300; }
a:visited { color: #FFC300; }
a:hover { color: #FF5733; }
